.header {
display: flex;
align-items: center;
justify-content: space-between;
    ion-button {
        margin-right: 20px;
    }
}
ion-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-bottom: 1px solid #ecedea;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.btn {
    margin-right: 14px;
}